.my-sorts{
	cursor: pointer;
}

.my-sorts:after
{
	content: '\00a0\00a0\00a0';
}

.my-sorts.sort:after
{
	content: '\25bc';
}

.my-sorts.sort.reverse:after
{
	content: '\25b2';
}

.update-table{
	/*opacity: 0.8;*/
}

.hide-block{
	opacity: 0;
}

.show-block{
	opacity: 1!important;
}

.pagination>li{
	cursor: pointer;
}

.font-panel {
	padding-right: 20px;
	padding-top: 5px;
}

.font-panel {
	font-size: 15px;
	letter-spacing: 0px;
}


body{
	font-size: 200%;
}

h1, h2, h3, h4, h4 {
	font-size: inherit!important;
}

.form-control,.btn,.navbar-brand {
	height: inherit!important;
	font-size: inherit!important;
}

body.dark-mod,body.dark-mod .form-control,body.dark-mod .btn-default  {
    color: #fff;
    background-color: #000000;
}

body.dark-mod .navbar-default {
	background-color: #3e3e3e;
    border-color: #505050;
}

body.dark-mod .navbar-default .navbar-nav>li>a {
	color: #fff;
}