{% extends "twigs.layouts.container" %}
{% block title %}{{ parent() }}.goods{% endblock %}
{% block scriptsBottom %}
	{{ parent() }}
	<script src="/js/angular.min.js"></script>
    <script src="/js/goodsController.js"></script>
{% endblock %}
{% block container %}

	<div ng-app="goodsApp" ng-controller="GoodsController as goodsApp" >

        <h2>Товары</h2>

        <form id="goods-search-form" action="/orders/getJson" onsubmit="return false;" ng-submit="submit()">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="paginate">Показывать по:</label>
                        <select class="form-control" name="paginate" ng-model="form.paginate" ng-change="changeInput('paginate');">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>

        <ul class="pagination pagination-lg hide-block"  ng-class="{ 'show-block':1 }" ng-show="lastPage > 1">
            <li ng-repeat="i in getNumber(1, lastPage)" 
                ng-class="{'active': currentPage == i}" 
                ng-click="changePage( i )"><a ><% i %></a></li>
        </ul>

        <br/><br/>

        <table class="table hide-block" id="goods-table" ng-class="{ 'update-table': updateTabel, 'show-block':1 }">
            <thead>
                <tr>
                    {% set tableHeads = {
                    	no: '',
					    good_id: '#',
					    good_name: 'Название',
					    good_price: 'Цена',
					    user_first_name: 'Рекламодатель',
					} %}
                    {%for sortKey,title in tableHeads %}
                     	<th class="my-sorts" 
	                        ng-click="sortBy('{{sortKey}}')" 
	                        ng-class="{ 'sort': form.sorts.{{sortKey}} != undefined , reverse: form.sorts.{{sortKey}} == 1}">{{title}}</th>
                    {%endfor%}
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in goodsApp.items">
                        <td>
                            <input type="checkbox"  />
                        </td>
                        <td><% item.good_id %></td>
                        <td><a href="/good-edit/<%item.good_id%>"><%item.good_name%></a></td>
                        <td><% item.good_price %></td>
                        <td>
                            <% item.user_first_name %> 
                            <% item.user_last_name %> 
                            <br/>
                            <% item.user_login %> 
                        </td>
                    </tr>                        
            </tbody>
        </table>

        <ul class="pagination pagination-lg hide-block" ng-class="{ 'show-block':1 }" ng-show="lastPage > 1">
            <li ng-repeat="i in getNumber(1, lastPage)" 
                ng-class="{'active': currentPage == i}" 
                ng-click="changePage( i )"><a ><% i %></a></li>
        </ul>

        <br/><br/><br/>

    </div>
	
{% endblock %}