<nav class="navbar navbar-default ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" ><span class="glyphicon glyphicon-home"></span></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                    <li><a href="/">Заказы</a></li>
                    <li><a href="/goods">Товары</a></li>
            </ul>
            <div class="nav navbar-nav navbar-right font-panel">
                <button class="btn btn-default" id="font-default">Сброс</button>
            </div>
            <div class="nav navbar-nav navbar-right font-panel">
                <button class="btn btn-default" id="font-dark-on">темный</button>
                <button class="btn btn-default" id="font-dark-off">светлый</button>
            </div>
            <div class="nav navbar-nav navbar-right font-panel">
                <label>интервал</label>
                <button class="btn btn-default" id="font-space-plus">+</button>
                <button class="btn btn-default" id="font-space-minus">-</button>
            </div>
            <div class="nav navbar-nav navbar-right font-panel">
                <label>размер</label>
                <button class="btn btn-default" id="font-size-plus">+</button>
                <button class="btn btn-default" id="font-size-minus">- </button>
            </div>
        </div>
    </div>
</nav>