<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}testCRM{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="csrf-token" content="{{ csrf_token() }}">
        {% block styles %}
        	<link href="/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">
            <link href="/css/basic.css" rel="stylesheet">
    	{% endblock %}
        {% block scripts %}
            <script src="/js/jquery.min.js"></script>
        {% endblock %}
    </head>
    <body class="">
        <script src="/js/fontController.js"></script>
        {% block body %}{% endblock %}
        {% block scriptsBottom %}
   			<script src="/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>