{% extends "twigs.layouts.basic" %}
{% block body %}
	{{ parent() }}

    {{ include('twigs.sections.navbar') }}
    
    <div class="container">
        {% block container %}{% endblock %}
    </div>

{% endblock %}